<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wqs.jsd.dao.BasicCodingMapper">
  <resultMap id="BaseResultMap" type="com.wqs.jsd.pojo.BasicCoding">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="type" jdbcType="VARCHAR" property="type"/>
    <result column="abbreviation" jdbcType="VARCHAR" property="abbreviation"/>
    <result column="coding_style" jdbcType="VARCHAR" property="codingStyle"/>
    <result column="final_editor" jdbcType="VARCHAR" property="finalEditor"/>
    <result column="final_edit_time" jdbcType="TIMESTAMP" property="finalEditTime"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, `type`, abbreviation, coding_style, final_editor, final_edit_time
  </sql>
  <select id="countByType" parameterType="java.lang.String" resultType="java.lang.Integer">
    SELECT count(1)
    FROM basic_coding
    where type = #{type,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from basic_coding
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByType" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from basic_coding
    where type = #{type,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultType="com.wqs.jsd.pojo.BasicCoding">
    select
    <include refid="Base_Column_List"/>
    from basic_coding
  </select>
  <select id="selectCodingByType" resultType="java.lang.String">
    select name
    from basic_coding
    where type = #{type,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.util.List">
    delete from basic_coding
    where id in
    <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>
  <delete id="deleteByTypeAndName">
    delete from basic_coding
    where type = #{type,jdbcType=VARCHAR} and name = #{name,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.wqs.jsd.pojo.BasicCoding"
          useGeneratedKeys="true">
    insert into basic_coding (`name`, `type`, abbreviation, 
      coding_style, final_editor, final_edit_time
      )
    values (#{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{abbreviation,jdbcType=VARCHAR}, 
      #{codingStyle,jdbcType=VARCHAR}, #{finalEditor,jdbcType=VARCHAR}, #{finalEditTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.wqs.jsd.pojo.BasicCoding"
          useGeneratedKeys="true">
    insert into basic_coding
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="abbreviation != null">
        abbreviation,
      </if>
      <if test="codingStyle != null">
        coding_style,
      </if>
      <if test="finalEditor != null">
        final_editor,
      </if>
      <if test="finalEditTime != null">
        final_edit_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="abbreviation != null">
        #{abbreviation,jdbcType=VARCHAR},
      </if>
      <if test="codingStyle != null">
        #{codingStyle,jdbcType=VARCHAR},
      </if>
      <if test="finalEditor != null">
        #{finalEditor,jdbcType=VARCHAR},
      </if>
      <if test="finalEditTime != null">
        #{finalEditTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wqs.jsd.pojo.BasicCoding">
    update basic_coding
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=VARCHAR},
      </if>
      <if test="abbreviation != null">
        abbreviation = #{abbreviation,jdbcType=VARCHAR},
      </if>
      <if test="codingStyle != null">
        coding_style = #{codingStyle,jdbcType=VARCHAR},
      </if>
      <if test="finalEditor != null">
        final_editor = #{finalEditor,jdbcType=VARCHAR},
      </if>
      <if test="finalEditTime != null">
        final_edit_time = #{finalEditTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wqs.jsd.pojo.BasicCoding">
    update basic_coding
    set `name` = #{name,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=VARCHAR},
      abbreviation = #{abbreviation,jdbcType=VARCHAR},
      coding_style = #{codingStyle,jdbcType=VARCHAR},
      final_editor = #{finalEditor,jdbcType=VARCHAR},
      final_edit_time = #{finalEditTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>