<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wqs.jsd.dao.ContractMapper">
  <resultMap id="BaseResultMap" type="com.wqs.jsd.pojo.Contract">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="contract_number" jdbcType="VARCHAR" property="contractNumber" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="contract_status" jdbcType="VARCHAR" property="contractStatus" />
    <result column="party_a" jdbcType="VARCHAR" property="partyA" />
    <result column="party_b" jdbcType="VARCHAR" property="partyB" />
    <result column="signatory_party_a" jdbcType="VARCHAR" property="signatoryPartyA" />
    <result column="signatory_party_b" jdbcType="VARCHAR" property="signatoryPartyB" />
    <result column="signing_time" jdbcType="TIMESTAMP" property="signingTime" />
    <result column="entry_into_force_time" jdbcType="TIMESTAMP" property="entryIntoForceTime" />
    <result column="final_editor" jdbcType="VARCHAR" property="finalEditor" />
    <result column="final_edit_time" jdbcType="TIMESTAMP" property="finalEditTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, contract_number, project_name, contract_status, party_a, party_b, signatory_party_a,
    signatory_party_b, signing_time, entry_into_force_time, final_editor, final_edit_time
  </sql>
  <select id="countTotal" resultType="java.lang.Integer">
    SELECT count(1)
    FROM contract
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from contract
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultType="com.wqs.jsd.pojo.Contract">
    select
    <include refid="Base_Column_List"/>
    from contract
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.util.List">
    delete from contract
    where id in
    <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.wqs.jsd.pojo.Contract" useGeneratedKeys="true">
    insert into contract (contract_number, project_name, contract_status, 
      party_a, party_b, signatory_party_a,
      signatory_party_b, signing_time, entry_into_force_time,
      final_editor, final_edit_time)
    values (#{contractNumber,jdbcType=VARCHAR}, #{projectName,jdbcType=VARCHAR}, #{contractStatus,jdbcType=VARCHAR}, 
      #{partyA,jdbcType=VARCHAR}, #{partyB,jdbcType=VARCHAR}, #{signatoryPartyA,jdbcType=VARCHAR},
      #{signatoryPartyB,jdbcType=VARCHAR}, #{signingTime,jdbcType=TIMESTAMP}, #{entryIntoForceTime,jdbcType=TIMESTAMP},
      #{finalEditor,jdbcType=VARCHAR}, #{finalEditTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.wqs.jsd.pojo.Contract" useGeneratedKeys="true">
    insert into contract
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="contractNumber != null">
        contract_number,
      </if>
      <if test="projectName != null">
        project_name,
      </if>
      <if test="contractStatus != null">
        contract_status,
      </if>
      <if test="partyA != null">
        party_a,
      </if>
      <if test="partyB != null">
        party_b,
      </if>
      <if test="signatoryPartyA != null">
        signatory_party_a,
      </if>
      <if test="signatoryPartyB != null">
        signatory_party_b,
      </if>
      <if test="signingTime != null">
        signing_time,
      </if>
      <if test="entryIntoForceTime != null">
        entry_into_force_time,
      </if>
      <if test="finalEditor != null">
        final_editor,
      </if>
      <if test="finalEditTime != null">
        final_edit_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="contractNumber != null">
        #{contractNumber,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="contractStatus != null">
        #{contractStatus,jdbcType=VARCHAR},
      </if>
      <if test="partyA != null">
        #{partyA,jdbcType=VARCHAR},
      </if>
      <if test="partyB != null">
        #{partyB,jdbcType=VARCHAR},
      </if>
      <if test="signatoryPartyA != null">
        #{signatoryPartyA,jdbcType=VARCHAR},
      </if>
      <if test="signatoryPartyB != null">
        #{signatoryPartyB,jdbcType=VARCHAR},
      </if>
      <if test="signingTime != null">
        #{signingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="entryIntoForceTime != null">
        #{entryIntoForceTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finalEditor != null">
        #{finalEditor,jdbcType=VARCHAR},
      </if>
      <if test="finalEditTime != null">
        #{finalEditTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wqs.jsd.pojo.Contract">
    update contract
    <set>
      <if test="contractNumber != null">
        contract_number = #{contractNumber,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="contractStatus != null">
        contract_status = #{contractStatus,jdbcType=VARCHAR},
      </if>
      <if test="partyA != null">
        party_a = #{partyA,jdbcType=VARCHAR},
      </if>
      <if test="partyB != null">
        party_b = #{partyB,jdbcType=VARCHAR},
      </if>
      <if test="signatoryPartyA != null">
        signatory_party_a = #{signatoryPartyA,jdbcType=VARCHAR},
      </if>
      <if test="signatoryPartyB != null">
        signatory_party_b = #{signatoryPartyB,jdbcType=VARCHAR},
      </if>
      <if test="signingTime != null">
        signing_time = #{signingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="entryIntoForceTime != null">
        entry_into_force_time = #{entryIntoForceTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finalEditor != null">
        final_editor = #{finalEditor,jdbcType=VARCHAR},
      </if>
      <if test="finalEditTime != null">
        final_edit_time = #{finalEditTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wqs.jsd.pojo.Contract">
    update contract
    set contract_number = #{contractNumber,jdbcType=VARCHAR},
      project_name = #{projectName,jdbcType=VARCHAR},
      contract_status = #{contractStatus,jdbcType=VARCHAR},
      party_a = #{partyA,jdbcType=VARCHAR},
      party_b = #{partyB,jdbcType=VARCHAR},
      signatory_party_a = #{signatoryPartyA,jdbcType=VARCHAR},
      signatory_party_b = #{signatoryPartyB,jdbcType=VARCHAR},
      signing_time = #{signingTime,jdbcType=TIMESTAMP},
      entry_into_force_time = #{entryIntoForceTime,jdbcType=TIMESTAMP},
      final_editor = #{finalEditor,jdbcType=VARCHAR},
      final_edit_time = #{finalEditTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>