<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wqs.jsd.dao.ContractMapper">
  <resultMap id="BaseResultMap" type="com.wqs.jsd.pojo.Contract">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="contract_number" jdbcType="VARCHAR" property="contractNumber" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="customer_address" jdbcType="VARCHAR" property="customerAddress" />
    <result column="customer_phone" jdbcType="VARCHAR" property="customerPhone" />
    <result column="customer_represent" jdbcType="VARCHAR" property="customerRepresent" />
    <result column="our_side" jdbcType="VARCHAR" property="ourSide" />
    <result column="our_address" jdbcType="VARCHAR" property="ourAddress" />
    <result column="our_phone" jdbcType="VARCHAR" property="ourPhone" />
    <result column="our_represent" jdbcType="VARCHAR" property="ourRepresent" />
    <result column="signing_time" jdbcType="TIMESTAMP" property="signingTime" />
    <result column="contract_content" jdbcType="VARCHAR" property="contractContent" />
    <result column="pledge" jdbcType="VARCHAR" property="pledge" />
    <result column="other_item" jdbcType="VARCHAR" property="otherItem" />
    <result column="final_editor" jdbcType="VARCHAR" property="finalEditor" />
    <result column="final_edit_time" jdbcType="TIMESTAMP" property="finalEditTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, contract_number, project_name, customer_id, customer_address, customer_phone, 
    customer_represent, our_side, our_address, our_phone, our_represent, signing_time, 
    contract_content, pledge, other_item, final_editor, final_edit_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from contract
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.util.List">
    delete from contract
    where id in
    <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.wqs.jsd.pojo.Contract" useGeneratedKeys="true">
    insert into contract (contract_number, project_name, customer_id, 
      customer_address, customer_phone, customer_represent, 
      our_side, our_address, our_phone, 
      our_represent, signing_time, contract_content, 
      pledge, other_item, final_editor, 
      final_edit_time)
    values (#{contractNumber,jdbcType=VARCHAR}, #{projectName,jdbcType=VARCHAR}, #{customerId,jdbcType=INTEGER}, 
      #{customerAddress,jdbcType=VARCHAR}, #{customerPhone,jdbcType=VARCHAR}, #{customerRepresent,jdbcType=VARCHAR}, 
      #{ourSide,jdbcType=VARCHAR}, #{ourAddress,jdbcType=VARCHAR}, #{ourPhone,jdbcType=VARCHAR}, 
      #{ourRepresent,jdbcType=VARCHAR}, #{signingTime,jdbcType=TIMESTAMP}, #{contractContent,jdbcType=VARCHAR}, 
      #{pledge,jdbcType=VARCHAR}, #{otherItem,jdbcType=VARCHAR}, #{finalEditor,jdbcType=VARCHAR}, 
      #{finalEditTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.wqs.jsd.pojo.Contract" useGeneratedKeys="true">
    insert into contract
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="contractNumber != null">
        contract_number,
      </if>
      <if test="projectName != null">
        project_name,
      </if>
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="customerAddress != null">
        customer_address,
      </if>
      <if test="customerPhone != null">
        customer_phone,
      </if>
      <if test="customerRepresent != null">
        customer_represent,
      </if>
      <if test="ourSide != null">
        our_side,
      </if>
      <if test="ourAddress != null">
        our_address,
      </if>
      <if test="ourPhone != null">
        our_phone,
      </if>
      <if test="ourRepresent != null">
        our_represent,
      </if>
      <if test="signingTime != null">
        signing_time,
      </if>
      <if test="contractContent != null">
        contract_content,
      </if>
      <if test="pledge != null">
        pledge,
      </if>
      <if test="otherItem != null">
        other_item,
      </if>
      <if test="finalEditor != null">
        final_editor,
      </if>
      <if test="finalEditTime != null">
        final_edit_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="contractNumber != null">
        #{contractNumber,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="customerAddress != null">
        #{customerAddress,jdbcType=VARCHAR},
      </if>
      <if test="customerPhone != null">
        #{customerPhone,jdbcType=VARCHAR},
      </if>
      <if test="customerRepresent != null">
        #{customerRepresent,jdbcType=VARCHAR},
      </if>
      <if test="ourSide != null">
        #{ourSide,jdbcType=VARCHAR},
      </if>
      <if test="ourAddress != null">
        #{ourAddress,jdbcType=VARCHAR},
      </if>
      <if test="ourPhone != null">
        #{ourPhone,jdbcType=VARCHAR},
      </if>
      <if test="ourRepresent != null">
        #{ourRepresent,jdbcType=VARCHAR},
      </if>
      <if test="signingTime != null">
        #{signingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="contractContent != null">
        #{contractContent,jdbcType=VARCHAR},
      </if>
      <if test="pledge != null">
        #{pledge,jdbcType=VARCHAR},
      </if>
      <if test="otherItem != null">
        #{otherItem,jdbcType=VARCHAR},
      </if>
      <if test="finalEditor != null">
        #{finalEditor,jdbcType=VARCHAR},
      </if>
      <if test="finalEditTime != null">
        #{finalEditTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wqs.jsd.pojo.Contract">
    update contract
    <set>
      <if test="contractNumber != null">
        contract_number = #{contractNumber,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="customerAddress != null">
        customer_address = #{customerAddress,jdbcType=VARCHAR},
      </if>
      <if test="customerPhone != null">
        customer_phone = #{customerPhone,jdbcType=VARCHAR},
      </if>
      <if test="customerRepresent != null">
        customer_represent = #{customerRepresent,jdbcType=VARCHAR},
      </if>
      <if test="ourSide != null">
        our_side = #{ourSide,jdbcType=VARCHAR},
      </if>
      <if test="ourAddress != null">
        our_address = #{ourAddress,jdbcType=VARCHAR},
      </if>
      <if test="ourPhone != null">
        our_phone = #{ourPhone,jdbcType=VARCHAR},
      </if>
      <if test="ourRepresent != null">
        our_represent = #{ourRepresent,jdbcType=VARCHAR},
      </if>
      <if test="signingTime != null">
        signing_time = #{signingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="contractContent != null">
        contract_content = #{contractContent,jdbcType=VARCHAR},
      </if>
      <if test="pledge != null">
        pledge = #{pledge,jdbcType=VARCHAR},
      </if>
      <if test="otherItem != null">
        other_item = #{otherItem,jdbcType=VARCHAR},
      </if>
      <if test="finalEditor != null">
        final_editor = #{finalEditor,jdbcType=VARCHAR},
      </if>
      <if test="finalEditTime != null">
        final_edit_time = #{finalEditTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wqs.jsd.pojo.Contract">
    update contract
    set contract_number = #{contractNumber,jdbcType=VARCHAR},
      project_name = #{projectName,jdbcType=VARCHAR},
      customer_id = #{customerId,jdbcType=INTEGER},
      customer_address = #{customerAddress,jdbcType=VARCHAR},
      customer_phone = #{customerPhone,jdbcType=VARCHAR},
      customer_represent = #{customerRepresent,jdbcType=VARCHAR},
      our_side = #{ourSide,jdbcType=VARCHAR},
      our_address = #{ourAddress,jdbcType=VARCHAR},
      our_phone = #{ourPhone,jdbcType=VARCHAR},
      our_represent = #{ourRepresent,jdbcType=VARCHAR},
      signing_time = #{signingTime,jdbcType=TIMESTAMP},
      contract_content = #{contractContent,jdbcType=VARCHAR},
      pledge = #{pledge,jdbcType=VARCHAR},
      other_item = #{otherItem,jdbcType=VARCHAR},
      final_editor = #{finalEditor,jdbcType=VARCHAR},
      final_edit_time = #{finalEditTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>