<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wqs.jsd.dao.CustomerAddressMapper">
  <resultMap id="BaseResultMap" type="com.wqs.jsd.pojo.CustomerAddress">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="is_default_address" jdbcType="TINYINT" property="isDefaultAddress" />
    <result column="address_name" jdbcType="VARCHAR" property="addressName" />
    <result column="sorting" jdbcType="INTEGER" property="sorting" />
  </resultMap>
  <sql id="Base_Column_List">
    id, customer_id, is_default_address, address_name, sorting
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from customer_address
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.util.List">
    delete from customer_address
    where id in
    <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.wqs.jsd.pojo.CustomerAddress" useGeneratedKeys="true">
    insert into customer_address (customer_id, is_default_address, address_name, 
      sorting)
    values (#{customerId,jdbcType=INTEGER}, #{isDefaultAddress,jdbcType=TINYINT}, #{addressName,jdbcType=VARCHAR}, 
      #{sorting,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.wqs.jsd.pojo.CustomerAddress" useGeneratedKeys="true">
    insert into customer_address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="isDefaultAddress != null">
        is_default_address,
      </if>
      <if test="addressName != null">
        address_name,
      </if>
      <if test="sorting != null">
        sorting,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="customerId != null">
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="isDefaultAddress != null">
        #{isDefaultAddress,jdbcType=TINYINT},
      </if>
      <if test="addressName != null">
        #{addressName,jdbcType=VARCHAR},
      </if>
      <if test="sorting != null">
        #{sorting,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wqs.jsd.pojo.CustomerAddress">
    update customer_address
    <set>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="isDefaultAddress != null">
        is_default_address = #{isDefaultAddress,jdbcType=TINYINT},
      </if>
      <if test="addressName != null">
        address_name = #{addressName,jdbcType=VARCHAR},
      </if>
      <if test="sorting != null">
        sorting = #{sorting,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wqs.jsd.pojo.CustomerAddress">
    update customer_address
    set customer_id = #{customerId,jdbcType=INTEGER},
      is_default_address = #{isDefaultAddress,jdbcType=TINYINT},
      address_name = #{addressName,jdbcType=VARCHAR},
      sorting = #{sorting,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>