<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wqs.jsd.dao.CustomerLandingMapper">
  <resultMap id="BaseResultMap" type="com.wqs.jsd.pojo.CustomerLanding">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="customer_user_id" jdbcType="INTEGER" property="customerUserId" />
    <result column="landing_point" jdbcType="VARCHAR" property="landingPoint" />
    <result column="last_landing_time" jdbcType="TIMESTAMP" property="lastLandingTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, customer_user_id, landing_point, last_landing_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from customer_landing
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultType="com.wqs.jsd.pojo.CustomerLanding">
    select
    <include refid="Base_Column_List"/>
    from customer_landing
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.util.List">
    delete from customer_landing
    where id in
    <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.wqs.jsd.pojo.CustomerLanding" useGeneratedKeys="true">
    insert into customer_landing (customer_user_id, landing_point, last_landing_time
      )
    values (#{customerUserId,jdbcType=INTEGER}, #{landingPoint,jdbcType=VARCHAR}, #{lastLandingTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.wqs.jsd.pojo.CustomerLanding" useGeneratedKeys="true">
    insert into customer_landing
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="customerUserId != null">
        customer_user_id,
      </if>
      <if test="landingPoint != null">
        landing_point,
      </if>
      <if test="lastLandingTime != null">
        last_landing_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="customerUserId != null">
        #{customerUserId,jdbcType=INTEGER},
      </if>
      <if test="landingPoint != null">
        #{landingPoint,jdbcType=VARCHAR},
      </if>
      <if test="lastLandingTime != null">
        #{lastLandingTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wqs.jsd.pojo.CustomerLanding">
    update customer_landing
    <set>
      <if test="customerUserId != null">
        customer_user_id = #{customerUserId,jdbcType=INTEGER},
      </if>
      <if test="landingPoint != null">
        landing_point = #{landingPoint,jdbcType=VARCHAR},
      </if>
      <if test="lastLandingTime != null">
        last_landing_time = #{lastLandingTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wqs.jsd.pojo.CustomerLanding">
    update customer_landing
    set customer_user_id = #{customerUserId,jdbcType=INTEGER},
      landing_point = #{landingPoint,jdbcType=VARCHAR},
      last_landing_time = #{lastLandingTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>