<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wqs.jsd.dao.OrderDetailsMapper">
  <resultMap id="BaseResultMap" type="com.wqs.jsd.pojo.OrderDetails">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="staff_id" jdbcType="INTEGER" property="staffId" />
    <result column="orders_id" jdbcType="INTEGER" property="ordersId" />
    <result column="is_arrival" jdbcType="TINYINT" property="isArrival" />
    <result column="arrival_time" jdbcType="TIMESTAMP" property="arrivalTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, staff_id, orders_id, is_arrival, arrival_time
  </sql>
  <select id="countTotal" resultType="java.lang.Integer">
    SELECT count(1)
    FROM order_details
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_details
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultType="com.wqs.jsd.pojo.OrderDetails">
    select
    <include refid="Base_Column_List"/>
    from order_details
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.util.List">
    delete from order_details
    where id in
    <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>
  <delete id="deleteByPrimaryKeys" parameterType="java.util.List">
    delete from order_details
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.wqs.jsd.pojo.OrderDetails" useGeneratedKeys="true">
    insert into order_details (staff_id, orders_id, is_arrival, 
      arrival_time)
    values (#{staffId,jdbcType=INTEGER}, #{ordersId,jdbcType=INTEGER}, #{isArrival,jdbcType=TINYINT}, 
      #{arrivalTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.wqs.jsd.pojo.OrderDetails" useGeneratedKeys="true">
    insert into order_details
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="staffId != null">
        staff_id,
      </if>
      <if test="ordersId != null">
        orders_id,
      </if>
      <if test="isArrival != null">
        is_arrival,
      </if>
      <if test="arrivalTime != null">
        arrival_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="staffId != null">
        #{staffId,jdbcType=INTEGER},
      </if>
      <if test="ordersId != null">
        #{ordersId,jdbcType=INTEGER},
      </if>
      <if test="isArrival != null">
        #{isArrival,jdbcType=TINYINT},
      </if>
      <if test="arrivalTime != null">
        #{arrivalTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wqs.jsd.pojo.OrderDetails">
    update order_details
    <set>
      <if test="staffId != null">
        staff_id = #{staffId,jdbcType=INTEGER},
      </if>
      <if test="ordersId != null">
        orders_id = #{ordersId,jdbcType=INTEGER},
      </if>
      <if test="isArrival != null">
        is_arrival = #{isArrival,jdbcType=TINYINT},
      </if>
      <if test="arrivalTime != null">
        arrival_time = #{arrivalTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wqs.jsd.pojo.OrderDetails">
    update order_details
    set staff_id = #{staffId,jdbcType=INTEGER},
      orders_id = #{ordersId,jdbcType=INTEGER},
      is_arrival = #{isArrival,jdbcType=TINYINT},
      arrival_time = #{arrivalTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>