<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wqs.jsd.dao.OrdersMapper">
  <resultMap id="BaseResultMap" type="com.wqs.jsd.pojo.Orders">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="order_number" jdbcType="VARCHAR" property="orderNumber" />
    <result column="goods_type" jdbcType="VARCHAR" property="goodsType" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="address_detail" jdbcType="VARCHAR" property="addressDetail" />
    <result column="is_accept" jdbcType="TINYINT" property="isAccept" />
    <result column="is_done" jdbcType="TINYINT" property="isDone" />
    <result column="expected_time" jdbcType="TIMESTAMP" property="expectedTime" />
    <result column="order_time" jdbcType="TIMESTAMP" property="orderTime" />
    <result column="actual_price" jdbcType="DECIMAL" property="actualPrice" />
    <result column="accept_time" jdbcType="TIMESTAMP" property="acceptTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, customer_id, order_number, goods_type, goods_name, customer_name, address, address_detail, 
    is_accept, is_done, expected_time, order_time, actual_price, accept_time
  </sql>
  <select id="countTotal" resultType="java.lang.Integer">
    SELECT count(1)
    FROM orders
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from orders
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from orders
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByPrimaryKeys" parameterType="java.util.List">
    delete from orders
    where id in
    <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>
  <select id="selectAll" resultType="com.wqs.jsd.pojo.Orders">
    select
    <include refid="Base_Column_List"/>
    from orders
  </select>
  <select id="findOrdersByCustomerId" resultType="com.wqs.jsd.pojo.Orders">
    select
    <include refid="Base_Column_List"/>
    from orders where customer_id #{customerId,jdbcType=INTEGER}
  </select>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.wqs.jsd.pojo.Orders" useGeneratedKeys="true">
    insert into orders (customer_id, order_number, goods_type, 
      goods_name, customer_name, address, 
      address_detail, is_accept, is_done, 
      expected_time, order_time, actual_price, 
      accept_time)
    values (#{customerId,jdbcType=INTEGER}, #{orderNumber,jdbcType=VARCHAR}, #{goodsType,jdbcType=VARCHAR}, 
      #{goodsName,jdbcType=VARCHAR}, #{customerName,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{addressDetail,jdbcType=VARCHAR}, #{isAccept,jdbcType=TINYINT}, #{isDone,jdbcType=TINYINT}, 
      #{expectedTime,jdbcType=TIMESTAMP}, #{orderTime,jdbcType=TIMESTAMP}, #{actualPrice,jdbcType=DECIMAL}, 
      #{acceptTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.wqs.jsd.pojo.Orders" useGeneratedKeys="true">
    insert into orders
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="orderNumber != null">
        order_number,
      </if>
      <if test="goodsType != null">
        goods_type,
      </if>
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="customerName != null">
        customer_name,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="addressDetail != null">
        address_detail,
      </if>
      <if test="isAccept != null">
        is_accept,
      </if>
      <if test="isDone != null">
        is_done,
      </if>
      <if test="expectedTime != null">
        expected_time,
      </if>
      <if test="orderTime != null">
        order_time,
      </if>
      <if test="actualPrice != null">
        actual_price,
      </if>
      <if test="acceptTime != null">
        accept_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="customerId != null">
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="orderNumber != null">
        #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="goodsType != null">
        #{goodsType,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null">
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="addressDetail != null">
        #{addressDetail,jdbcType=VARCHAR},
      </if>
      <if test="isAccept != null">
        #{isAccept,jdbcType=TINYINT},
      </if>
      <if test="isDone != null">
        #{isDone,jdbcType=TINYINT},
      </if>
      <if test="expectedTime != null">
        #{expectedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderTime != null">
        #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actualPrice != null">
        #{actualPrice,jdbcType=DECIMAL},
      </if>
      <if test="acceptTime != null">
        #{acceptTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wqs.jsd.pojo.Orders">
    update orders
    <set>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="orderNumber != null">
        order_number = #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="goodsType != null">
        goods_type = #{goodsType,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null">
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null">
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="addressDetail != null">
        address_detail = #{addressDetail,jdbcType=VARCHAR},
      </if>
      <if test="isAccept != null">
        is_accept = #{isAccept,jdbcType=TINYINT},
      </if>
      <if test="isDone != null">
        is_done = #{isDone,jdbcType=TINYINT},
      </if>
      <if test="expectedTime != null">
        expected_time = #{expectedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderTime != null">
        order_time = #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actualPrice != null">
        actual_price = #{actualPrice,jdbcType=DECIMAL},
      </if>
      <if test="acceptTime != null">
        accept_time = #{acceptTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wqs.jsd.pojo.Orders">
    update orders
    set customer_id = #{customerId,jdbcType=INTEGER},
      order_number = #{orderNumber,jdbcType=VARCHAR},
      goods_type = #{goodsType,jdbcType=VARCHAR},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      customer_name = #{customerName,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      address_detail = #{addressDetail,jdbcType=VARCHAR},
      is_accept = #{isAccept,jdbcType=TINYINT},
      is_done = #{isDone,jdbcType=TINYINT},
      expected_time = #{expectedTime,jdbcType=TIMESTAMP},
      order_time = #{orderTime,jdbcType=TIMESTAMP},
      actual_price = #{actualPrice,jdbcType=DECIMAL},
      accept_time = #{acceptTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>