<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wqs.jsd.dao.StaffMapper">
  <resultMap id="BaseResultMap" type="com.wqs.jsd.pojo.Staff">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="number" jdbcType="VARCHAR" property="number"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="sex" jdbcType="VARCHAR" property="sex"/>
    <result column="phone" jdbcType="VARCHAR" property="phone"/>
    <result column="identify" jdbcType="CHAR" property="identify"/>
    <result column="pic_path" jdbcType="VARCHAR" property="picPath"/>
    <result column="current_position" jdbcType="VARCHAR" property="currentPosition"/>
    <result column="address" jdbcType="VARCHAR" property="address"/>
    <result column="email" jdbcType="VARCHAR" property="email"/>
    <result column="birth" jdbcType="VARCHAR" property="birth"/>
    <result column="father_birth" jdbcType="VARCHAR" property="fatherBirth"/>
    <result column="mother_birth" jdbcType="VARCHAR" property="motherBirth"/>
    <result column="education" jdbcType="VARCHAR" property="education"/>
    <result column="graduate_school" jdbcType="VARCHAR" property="graduateSchool"/>
    <result column="discipline" jdbcType="VARCHAR" property="discipline"/>
    <result column="medical_num" jdbcType="VARCHAR" property="medicalNum"/>
    <result column="bank_card_num" jdbcType="VARCHAR" property="bankCardNum"/>
    <result column="status" jdbcType="VARCHAR" property="status"/>
    <result column="final_editor" jdbcType="VARCHAR" property="finalEditor"/>
    <result column="final_edit_time" jdbcType="TIMESTAMP" property="finalEditTime"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, `number`, `name`, sex, phone, identify, pic_path, current_position, address, email, birth, father_birth, mother_birth,
    education, graduate_school, discipline, medical_num, bank_card_num, `status`, final_editor,
    final_edit_time
  </sql>
  <select id="countTotal" resultType="java.lang.Integer">
    SELECT count(1)
    FROM staff
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from staff
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="countStaff" resultType="int">
    select count(*)
    from staff
  </select>
  <select id="countNumber" parameterType="java.lang.String" resultType="int">
    select count(*)
    from staff
    where number = #{number, jdbcType=VARCHAR}
  </select>
  <select id="countPhone" parameterType="java.lang.String" resultType="int">
    select count(*)
    from staff
    where phone = #{phone, jdbcType=VARCHAR}
  </select>
  <select id="countNumberOrPhone" parameterType="java.lang.String" resultType="int">
    select count(*)
    from staff
    where number = #{number, jdbcType=VARCHAR} or phone = #{phone, jdbcType=VARCHAR}
  </select>
  <select id="selectByNumberOrPhone" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from staff
    where number = #{number, jdbcType=VARCHAR} or phone = #{phone, jdbcType=VARCHAR}
  </select>
  <select id="selectIdByNumberOrPhone" parameterType="java.lang.String" resultType="int">
    select id
    from staff
    where number = #{number, jdbcType=VARCHAR} or phone = #{phone, jdbcType=VARCHAR}
  </select>
  <select id="selectIdByNumber" parameterType="java.lang.String" resultType="int">
    select id
    from staff
    where number = #{number, jdbcType=VARCHAR}
  </select>
  <select id="selectIdByPhone" parameterType="java.lang.String" resultType="int">
    select id
    from staff
    where phone = #{phone, jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultType="com.wqs.jsd.pojo.Staff">
    select
    <include refid="Base_Column_List"/>
    from staff
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.util.List">
    delete from staff
    where id in
    <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="com.wqs.jsd.pojo.Staff">
    insert into staff (`number`, `name`, sex,
      phone, identify, pic_path, current_position,
      address, email, birth, father_birth, mother_birth,
      education, graduate_school, discipline,
      medical_num, bank_card_num, `status`,
      final_editor, final_edit_time)
    values (#{number,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR},
      #{phone,jdbcType=VARCHAR}, #{identify,jdbcType=CHAR}, #{picPath,jdbcType=VARCHAR}, #{currentPosition,jdbcType=VARCHAR},
      #{address,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{birth,jdbcType=VARCHAR}, #{fatherBirth,jdbcType=VARCHAR}, #{motherBirth,jdbcType=VARCHAR},
      #{education,jdbcType=VARCHAR}, #{graduateSchool,jdbcType=VARCHAR}, #{discipline,jdbcType=VARCHAR},
      #{medicalNum,jdbcType=VARCHAR}, #{bankCardNum,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},
      #{finalEditor,jdbcType=VARCHAR}, #{finalEditTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.wqs.jsd.pojo.Staff"
          useGeneratedKeys="true">
    insert into staff
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="number != null">
        `number`,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="identify != null">
        identify,
      </if>
      <if test="picPath != null">
        pic_path,
      </if>
      <if test="currentPosition != null">
        current_position,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="birth != null">
        birth,
      </if>
      <if test="fatherBirth != null">
        father_birth,
      </if>
      <if test="motherBirth != null">
        mother_birth,
      </if>
      <if test="education != null">
        education,
      </if>
      <if test="graduateSchool != null">
        graduate_school,
      </if>
      <if test="discipline != null">
        discipline,
      </if>
      <if test="medicalNum != null">
        medical_num,
      </if>
      <if test="bankCardNum != null">
        bank_card_num,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="finalEditor != null">
        final_editor,
      </if>
      <if test="finalEditTime != null">
        final_edit_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="number != null">
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="identify != null">
        #{identify,jdbcType=CHAR},
      </if>
      <if test="picPath != null">
        #{picPath,jdbcType=VARCHAR},
      </if>
      <if test="currentPosition != null">
        #{currentPosition,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="birth != null">
        #{birth,jdbcType=VARCHAR},
      </if>
      <if test="fatherBirth != null">
        #{fatherBirth,jdbcType=VARCHAR},
      </if>
      <if test="motherBirth != null">
        #{motherBirth,jdbcType=VARCHAR},
      </if>
      <if test="education != null">
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="graduateSchool != null">
        #{graduateSchool,jdbcType=VARCHAR},
      </if>
      <if test="discipline != null">
        #{discipline,jdbcType=VARCHAR},
      </if>
      <if test="medicalNum != null">
        #{medicalNum,jdbcType=VARCHAR},
      </if>
      <if test="bankCardNum != null">
        #{bankCardNum,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="finalEditor != null">
        #{finalEditor,jdbcType=VARCHAR},
      </if>
      <if test="finalEditTime != null">
        #{finalEditTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wqs.jsd.pojo.Staff">
    update staff
    <set>
      <if test="number != null">
        `number` = #{number,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="identify != null">
        identify = #{identify,jdbcType=CHAR},
      </if>
      <if test="picPath != null">
        pic_path = #{picPath,jdbcType=VARCHAR},
      </if>
      <if test="currentPosition != null">
        current_position = #{currentPosition,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="birth != null">
        birth = #{birth,jdbcType=VARCHAR},
      </if>
      <if test="fatherBirth != null">
        father_birth = #{fatherBirth,jdbcType=VARCHAR},
      </if>
      <if test="motherBirth != null">
        mother_birth = #{motherBirth,jdbcType=VARCHAR},
      </if>
      <if test="education != null">
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="graduateSchool != null">
        graduate_school = #{graduateSchool,jdbcType=VARCHAR},
      </if>
      <if test="discipline != null">
        discipline = #{discipline,jdbcType=VARCHAR},
      </if>
      <if test="medicalNum != null">
        medical_num = #{medicalNum,jdbcType=VARCHAR},
      </if>
      <if test="bankCardNum != null">
        bank_card_num = #{bankCardNum,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=VARCHAR},
      </if>
      <if test="finalEditor != null">
        final_editor = #{finalEditor,jdbcType=VARCHAR},
      </if>
      <if test="finalEditTime != null">
        final_edit_time = #{finalEditTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wqs.jsd.pojo.Staff">
    update staff
    set `number` = #{number,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      identify = #{identify,jdbcType=CHAR},
      pic_path = #{picPath,jdbcType=VARCHAR},
      current_position = #{currentPosition,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      birth = #{birth,jdbcType=VARCHAR},
      father_birth = #{fatherBirth, jdbcType=VARCHAR},
      mother_birth = #{motherBirth, jdbcType=VARCHAR},
      education = #{education,jdbcType=VARCHAR},
      graduate_school = #{graduateSchool,jdbcType=VARCHAR},
      discipline = #{discipline,jdbcType=VARCHAR},
      medical_num = #{medicalNum,jdbcType=VARCHAR},
      bank_card_num = #{bankCardNum,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=VARCHAR},
      final_editor = #{finalEditor,jdbcType=VARCHAR},
      final_edit_time = #{finalEditTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>