<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wqs.jsd.dao.UserLandingMapper">
  <resultMap id="BaseResultMap" type="com.wqs.jsd.pojo.UserLanding">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="landing_address" jdbcType="VARCHAR" property="landingAddress" />
    <result column="last_landing_time" jdbcType="TIMESTAMP" property="lastLandingTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, landing_address, last_landing_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_landing
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_landing
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.wqs.jsd.pojo.UserLanding" useGeneratedKeys="true">
    insert into user_landing (user_id, landing_address, last_landing_time
      )
    values (#{userId,jdbcType=INTEGER}, #{landingAddress,jdbcType=VARCHAR}, #{lastLandingTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.wqs.jsd.pojo.UserLanding" useGeneratedKeys="true">
    insert into user_landing
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="landingAddress != null">
        landing_address,
      </if>
      <if test="lastLandingTime != null">
        last_landing_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="landingAddress != null">
        #{landingAddress,jdbcType=VARCHAR},
      </if>
      <if test="lastLandingTime != null">
        #{lastLandingTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wqs.jsd.pojo.UserLanding">
    update user_landing
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="landingAddress != null">
        landing_address = #{landingAddress,jdbcType=VARCHAR},
      </if>
      <if test="lastLandingTime != null">
        last_landing_time = #{lastLandingTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wqs.jsd.pojo.UserLanding">
    update user_landing
    set user_id = #{userId,jdbcType=INTEGER},
      landing_address = #{landingAddress,jdbcType=VARCHAR},
      last_landing_time = #{lastLandingTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>